.button-to-shop {
  width: 21.85px;
  height: 24px;
  margin: 12px 44px;
  background: no-repeat center url('../../images/cart-white.svg');
  background-size: cover;
  border: none;
}

.button-to-shop:hover {
  cursor: pointer;
  background: no-repeat center url('../../images/cart-black.svg');
  background-size: cover;
}