.header {
  height: 102px;
  /* выше установили ограничения для секции */
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  overflow: hidden;
}