.fresh-flowers__button {
    margin: 28px 0 0 100px;
    padding: 16px 94px 16px 79px;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.03em;
    text-align: center;
}    