.cards__item {
  margin: 0 58px 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 240px;
}

.cards__item:nth-of-type(4) {
  margin-right: 0;
}