.button-to-shop_place_card {
  margin: 12px 44px;
  width: 32px;
  height: 32px;
  background: no-repeat center #ffffff url('../../../images/cart-black.svg');
  background-size: cover;
  border: none;
}

.button-to-shop_place_card:hover {
  cursor: pointer;
}

.button-to-shop_place_card:after {
  position: absolute;
  top: -50%;
  left: -50%;
  content: '';
  height: 100%;
  width: 100%;
}

.button-to-shop_place_card:hover:after {
  background: transparent;
}

.button-to-shop_place_card:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 120px;
  height: 56px;
}

.button-to-shop_place_card:hover:after {
  background: no-repeat center rgba(45, 48, 64, 1) url('../../../images/cart-white.svg');
}