.fresh-flowers {
  margin: 0 0 200px 0;
  padding: 266px 0 0 100px;
  min-height: calc(842px - 266px);
  background-image: url('../../images/fresh-flowers.png');
  background-repeat: no-repeat;
  background-size: cover;
}