.footer__subscription-span {
  margin: 0 0 48px 0;
  font-family: 'Raleway Regular';
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #ffffff;
  cursor: default;
}