.subscription-form__input {
  margin: 0 2px 0 0;
  padding: 0 0 0 20px;
  width: calc(315px - 20px);
  height: 100%;
  border: 0;
  font-family: 'Raleway Regular';
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #5C5A6499;
}