.card__image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 266px;
  height: 330px;
}

.card__image-container:before {
  display: flex;
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  transition: all .4s ease;
}

.card__image-container:hover:before {
  opacity: 1;
}