.button {
  padding: 16px 94px 16px 79px;
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #2D3040;
  background: #fff;
  border: none;
  transition: all .4s ease;
}

.button:hover {
  cursor: pointer;
  color: #fff;
  background: #2D3040;
}